<div class="container">
  <button class="createButton" mat-raised-button [routerLink]="['/create']" color="primary">Novo Contato</button>

  <section>
    <div *ngIf="contatos.length == 0">
      Nenhuma terefa foi cadastrada ainda.
    </div>
  </section>

  <table *ngIf="contatos.length != 0 " mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let contato"> {{contato.id}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let contato"> {{contato.nome}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="telefone">
      <th mat-header-cell *matHeaderCellDef> Telefone </th>
      <td mat-cell *matCellDef="let contato"> {{contato.telefone}} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let contato"><button class="deleteButton" mat-raised-button (click)="delete(contato.id)" color="primary">Delete</button></td>
    </ng-container>

    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let contato"><button class="updateButton" mat-raised-button [routerLink]="['/contato/edit']" [queryParams]="{id: contato.id }" type="submit" color="primary">Update</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
